* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

/* STAR STYLING */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--Red);
    min-height: 100vh;
    background-image: url(images/bg-intro-desktop.png);
    background-size: cover;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

.wrapper .left {
    padding: 20px 30px;
    color: #fff;

    & h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    & p {
        font-size: 15px;
        font-weight: 300;
    }
}

.wrapper .right {
    padding: 10px 30px;
}

.wrapper .right .price {
  background-color: var(--Blue);
  margin-bottom: 20px;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: 0px 7px 1px 0px rgba(0, 0, 0, 0.3);
}

.wrapper .right .heading {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-align: center;

    & span {
        font-weight: 700;
    }
}

.wrapper .right .form-group {
    background-color: #fff;
    padding: 1.5rem 1.7rem 2.1rem;
    border-radius: 10px;
    box-shadow: 0px 7px 1px 0px rgba(0, 0, 0, 0.3);
}

.right form input {
    padding: 12px;
    width: 100%;
    outline: none;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0;
    padding-left: 20px;
}

.right .btn-green {
    background-color: var(--Green);
    color: #fff;
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px 0px rgba(72, 176, 128, 0.993);
    cursor: pointer;
    margin: 20px 0;
}

.right .btn-green:hover {
  opacity: 0.7;
}

form .input {
    position: relative;
}

form div span img {
    position: absolute;
    left: 94%;
    width: 20px;
    top: 0px;
}

form .input span.error {
    font-size: 10px;
    color: var(--Red);
    display: block;
    margin-bottom: 10px;
}
.right .form-group #form div .error-icon {
  position: absolute;
  right: 8%;
  top: 28%;
  display: none;
}
.right .form-group #form div .error-icon.visible {
  display: inline-block;
}
.right .form-group #form div input.invalid {
  border-color: var(--Red) !important;
  border-width: 2px !important;
  border-style: solid !important;
}
.right .form-group #form div span.error {
  display: none;
}
.right .form-group #form div span.error.visible {
  display: block;
  text-align: right;
  color: var(--Red);
  font-style: italic;
  font-size: 0.5em;
}

input[type="email"] {
  transition: color 0.3s ease;
}

.footer-text {
  color: hsl(246, 25%, 77%);
  font-size: 0.625rem;
  font-weight: 500;
  text-align: center;

  & span {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;
  }
}

.success-message {
  display: none;
  color: green;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}
.success-message.visible {
  display: block;
}

@media screen and (max-width: 900px) {
  body {
    background-image: url(images/bg-intro-mobile.png);
    max-width: 700px;
  }

  .wrapper {
    gap: 10px;
    grid-template-columns: 1fr;
  }

  .wrapper .left {
    text-align: center;

    h2 {
      font-size: 1.875rem;
      line-height: 40px;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .wrapper .right .price .heading {
    font-size: 0.875rem;
    line-height: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .wrapper .right .form-group {
    padding: 1.3rem 1.2rem;
  }

  .right form input {
    padding: 14px;
  }

  .right .form-group #form div .error-icon {
    right: 10%;
  }

  .right .btn-green {
    font-size: 12px;
  }

  .footer-text {
    font-size: 0.6125rem;
    width: 80%;
    margin: 0 auto;
  }
}

